name: Deploy

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-release:
    name: Update package version if Sentry was updated
    permissions:
      actions: write
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v6

      - name: Set up node 24 environment
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Publish
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

      - name: Generate Github Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          tag_name: ${{ env.GITHUB_REF_NAME }}

      - name: Trigger docs deployment
        run: gh workflow run docs.yml
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
